{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
<h4>Nueva Venta</h4>

<form method="post" autocomplete="off">

    <div class="row">
        <div class="col-12 col-sm-4">
            <label>Código del producto:</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-barcode"></i></span>
                </div>
                <input type="text" class="form-control" id="codigo" placeholder="Escribe el código y presiona enter"
                    autocomplete="off">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button" data-toggle="modal"
                        data-target="#modalBuscarProducto"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label>Nombre del producto:</label>
            <input class="form-control form-control-sm" id="nombre" name="nombre" type="text" readonly>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label>Precio:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                </div>
                <input class="form-control form-control-sm" id="precio" type="number" value="0.00" step="0.01" readonly />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-4 mb-3">
            <label>Cantidad:</label>
            <input class="form-control form-control-sm" id="cantidad" type="number" min="0">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <button type="button" class="btn btn-primary" onclick="agregarProducto()">Agregar Producto</button>
        </div>
    </div>

    <table id="tablaProductosVenta" class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th width='1%'></th>
            </tr>
        </thead>
        <tbody id="detalle_venta">
        </tbody>
    </table>

    <div class="row">
        <div class="col-12 col-sm-6 offset-md-6">
            <label style='font-weight:bold; font-size:30px; text-align:center;'> Total $</label><input type="text"
                name="total" id="total" size="7" readonly="true" value="0.00"
                style='font-weight:bold; font-size:30px; text-align:center; border:#E2EBED; background:#ffffff' />
            <button id="completa_compra" type="button" class="btn btn-success">Completar compra</button>
        </div>
    </div>
</form>

<!-- Modal para buscar producto -->
<div class="modal fade" id="modalBuscarProducto" tabindex="-1" aria-labelledby="modalBuscarProductoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuscarProductoLabel">Buscar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <input type="text" class="form-control" id="buscar_producto"
                        placeholder="Escribe el código o el nombre del producto" autocomplete="off">

                </div>
                <table style="width: 100%" class="table table-sm" id="tablaProductos">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th style="width: 20%">Precio</th>
                            <th style="width: 20%">Existencias</th>
                            <th style="width: 15%"></th>
                        </tr>
                    </thead>
                    <tbody id="resultados">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const buscarProducto = document.getElementById('buscar_producto');
    const resultados = document.getElementById('resultados');

    const codigoInput = document.getElementById('codigo');
    const nombreInput = document.getElementById('nombre');
    const precioInput = document.getElementById('precio');

    const detalleVenta = document.getElementById('detalle_venta');

    const totalInput = document.getElementById('total');

    let productoSeleccionado;
    let debounceTimer;
    let datellaVenta = [];

    async function fetchProducts(query) {
        if (!query) {
            resultados.innerHTML = '';
            return;
        }

        try {
            const response = await fetch(`/productos/autocomplete/?q=${query}`);
            const data = await response.json();

            renderResults(data);
        } catch (error) {
            console.error('Error al buscar productos:', error);
            resultados.innerHTML = '<p>Error al cargar resultados.</p>';
        }
    }

    // Función para mostrar los productos en el HTML
    function renderResults(products) {
        resultados.innerHTML = '';

        if (products.length === 0) {
            resultados.innerHTML = '<p>No se encontraron coincidencias.</p>';
            return;
        }

        products.forEach(product => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
            <td>${product.nombre}</td>
            <td>$${product.precio}</td>
            <td>${product.stock_actual}</td>
            <td>
                <button class="btn btn-success btn-sm" data-dismiss="modal" aria-label="Close" onclick="obtenerProducto('${product.codigo}')">
                    <span class="fas fa-plus"></span>
                </button>
            </td>
        </tr>
        `;
            resultados.appendChild(tr);
        });
    }


    // Evento de escucha con Debounce
    buscarProducto.addEventListener('input', (e) => {
        const query = e.target.value.trim();

        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(() => {
            fetchProducts(query);
        }, 300); // Espera 300ms después de que el usuario deja de escribir
    });

    async function obtenerProducto(codigo) {
        try {
            const response = await fetch(`/productos/obtener/${codigo}/`);
            if (!response.ok) {
                throw new Error('Producto no encontrado');
            }
            productoSeleccionado = await response.json();
            // Rellenar los campos del formulario con los datos del producto seleccionado
            codigoInput.value = productoSeleccionado.codigo;
            nombreInput.value = productoSeleccionado.nombre;
            precioInput.value = productoSeleccionado.precio;
        } catch (error) {
            console.error('Error al obtener producto:', error);
            //return null;
            productoSeleccionado = null;
            codigoInput.value = '';
            nombreInput.value = '';
            precioInput.value = '0.00';
        }
    }

    codigoInput.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault();
            const codigo = codigoInput.value.trim();
            if (codigo) {
                obtenerProducto(codigo);
            }
        }
    });

    function agregarProducto() {
        if (!productoSeleccionado) {
            alert('Por favor, selecciona un producto primero.');
            return;
        }

        const cantidadInput = document.getElementById('cantidad');
        const cantidad = parseInt(cantidadInput.value);

        if (isNaN(cantidad) || cantidad <= 0) {
            alert('Por favor, ingresa una cantidad válida.');
            return;
        }

        const total = productoSeleccionado.precio * cantidad;

        datellaVenta.push({
            codigo: productoSeleccionado.codigo,
            nombre: productoSeleccionado.nombre,
            precio: productoSeleccionado.precio,
            cantidad: cantidad,
            total: total
        });

        // Aquí puedes agregar código para actualizar la tabla de productos en la venta y el total
        actualizarDetalleVenta();
        // Limpiar los campos para el siguiente producto
        productoSeleccionado = null;
        codigoInput.value = '';
        nombreInput.value = '';
        precioInput.value = '0.00';
        cantidadInput.value = '';
        // Actualizar el total
        const totalVenta = datellaVenta.reduce((sum, item) => sum + item.total, 0);
        totalInput.value = totalVenta.toFixed(2);
    }

    function actualizarDetalleVenta() {
        detalleVenta.innerHTML = '';
        datellaVenta.forEach((item, index) => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${index + 1}</td>
                <td>${item.codigo}</td>
                <td>${item.nombre}</td>
                <td>$${item.precio}</td>
                <td>${item.cantidad}</td>
                <td>$${item.total}</td>
                <td>
                    <button class="btn btn-danger btn-sm" onclick="eliminarProducto(${index})">
                        <span class="fas fa-trash"></span>
                    </button>
                </td>
            `;
            detalleVenta.appendChild(tr);
        });
    }

    function eliminarProducto(index) {
        datellaVenta.splice(index, 1);
        actualizarDetalleVenta();
    }

</script>
{% endblock %}