{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
<h4>Nueva Venta</h4>

<form method="post" autocomplete="off">

    <div class="row">
        <div class="col-12 col-sm-4">
            <label>Código del producto:</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-barcode"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Escribe el código y presiona enter">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button" data-toggle="modal"
                        data-target="#modalBuscarProducto"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label>Nombre del producto:</label>
            <input class="form-control form-control-sm" id="nombre" name="nombre" type="text" readonly>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label>Precio:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                </div>
                <input class="form-control form-control-sm" type="number" value="0.00" step="0.01" readonly />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-4 mb-3">
            <label>Cantidad:</label>
            <input class="form-control form-control-sm" id="cantidad" type="number" min="0">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <button id="agregar_producto" type="button" class="btn btn-primary">Agregar Producto</button>
        </div>
    </div>

    <table id="tablaProductosVenta" class="table table-hover table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th width='1%'></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="row">
        <div class="col-12 col-sm-6 offset-md-6">
            <label style='font-weight:bold; font-size:30px; text-align:center;'> Total $</label><input type="text"
                name="total" id="total" size="7" readonly="true" value="0.00"
                style='font-weight:bold; font-size:30px; text-align:center; border:#E2EBED; background:#ffffff' />
            <button id="completa_compra" type="button" class="btn btn-success">Completar compra</button>
        </div>
    </div>
</form>

<div class="modal fade" id="modalBuscarProducto" tabindex="-1" aria-labelledby="modalBuscarProductoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuscarProductoLabel">Buscar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Escribe el código o el nombre del producto">
                </div>
                <table style="width: 100%" class="table table-sm" id="tablaProductos">
                    <thead>
                        <tr>
                            <th style="width: 45%">Descripción</th>
                            <th style="width: 20%">Precio</th>
                            <th style="width: 20%">Existencia</th>
                            <th style="width: 15%"></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}