{% extends "base.html" %}

{% block title %}Asientos contables{% endblock %}

{% block content %}
<h4>Libro diario</h4>
<div class="mb-3">
    <a href="{% url 'crear_asiento' %}" class="btn btn-info">
        Crear asiento
    </a>
    <a href="#" class="btn btn-success">Generar reporte</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Asiento</th>
                <th>Fecha</th>
                <th>Glosa</th>
                <th>Cuenta</th>
                <th>Debe</th>
                <th>Haber</th>
            </tr>
        </thead>
        <tbody>

            {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.asiento.id }}</td>
                <td>{{ movimiento.asiento.fecha }}</td>
                <td>{{ movimiento.asiento.descripcion }}</td>
                <td>{{ movimiento.cuenta.codigo }} - {{ movimiento.cuenta.nombre }}</td>
                <td>{{ movimiento.debe|default:"" }}</td>
                <td>{{ movimiento.haber|default:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}