{% extends "base.html" %}

{% block title %}Cuentas{% endblock %}

{% block content %}
<h4>Unidades</h4>

<div class="mb-3">
    <a href="{% url 'crear_unidad' %}" class="btn btn-info">
        Agregar
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre corto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for unidad in unidades %}
            <tr>
                <td>{{ unidad.id }}</td>
                <td>{{ unidad.nombre }}</td>
                <td>{{ unidad.nombre_corto }}</td>
                <td>
                    <a href="{% url 'editar_unidad' unidad.id %}" title="Modificar registro">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'eliminar_unidad' unidad.id %}" title="Eliminar registro"
                        onclick="return confirm('¿Seguro que deseas eliminar esta unidad?')">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}