{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<h4>Proveedores</h4>
<div class="mb-3">
    <a href="{% url 'crear_proveedor' %}" class="btn btn-info">
        Agregar
    </a>
    <a href="#" class="btn btn-success">Generar reporte</a>
</div>
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Sitio web</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.id }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.email }}</td>
                <td>
                    <a href="{{ proveedor.website }}" target="_blank">{{ proveedor.website }}</a>
                </td>
                <td>
                    <a href="{% url 'editar_proveedor' proveedor.id %}" title="Modificar registro">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'eliminar_proveedor' proveedor.id %}" title="Eliminar registro"
                        onclick="return confirm('¿Seguro que deseas eliminar este proveedor?')">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}