{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<h4>Clientes</h4>
<div class="mb-3">
    <a href="{% url 'crear_cliente' %}" class="btn btn-info">
        Agregar
    </a>
    <a href="#" class="btn btn-success">Generar reporte</a>
</div>
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente.id %}" title="Modificar registro">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'eliminar_cliente' cliente.id %}" title="Eliminar registro"
                        onclick="return confirm('¿Seguro que deseas eliminar este cliente?')">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}